form button {
    margin-top: 31px;
}

.error-wrapper {
    height: 30px;
    font-size: 0.8em;
}

.fields-amount {
    display: flex;
}

.fields-amount input {
    width: 70px;
    margin-left: 12px;
}

.fields-amount button {
    align-items: center;
}

.end-game {
    background-color: rgba(220, 53, 69, 0.3);
}

.move-to {
    background-color: rgba(255, 193, 7, 0.3);
}

.board {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
}

.field {
    color: #343a40;
    width: 100px;
    height: 100px;
    background-color: #17a2b8;
    border: 2px solid #343a40;
    position: relative;
}

.field h3 {
    position: absolute;
    bottom: 0;
    right: 10px;
}

.game-over {
    background-color: #dc3545;
}

.move-field {
    background-color: #ffc107;
}

.field:last-child {
    background-color: #28a745;
}

.pawn::after {
    content: '';
    background: #C25800;
    background: -moz-radial-gradient(center, #FF9A47 0%, #C25800 100%);
    background: -webkit-radial-gradient(center, #FF9A47 0%, #C25800 100%);
    background: radial-gradient(ellipse at center, #FF9A47 0%, #C25800 100%);
    -webkit-box-shadow: 0px 0px 12px 0px #000000; 
    box-shadow: 0px 0px 12px 0px #000000;
    display: block;
    width: 70px;
    height: 70px;
    border: 2px solid #343a40;
    position: absolute;
    top: 15px;
    left: 15px;
    border-radius: 50%;
}
